<div class="employee-card">
    <div  class="title-button">
        <span >{{employee.name}}</span>
    </div>
    
    <div  class="infos">
        <div >
            <p><span class="category">EMAIL: </span>{{employee.email}}</p>
            <p><span class="category">CELLULARE: </span>{{employee.phone}}</p>
        </div>
        <div>
            <p><span class="category">SALARIO: </span>{{employee.salary}}</p>
            <p *ngFor="let d of employee.employeeDepartments"><span class="category">DIPARTIMENTO: </span>{{d.department.name}}</p>
        </div>
        <div class="buttons">
            <button mat-fab color="accent" [routerLink]="['details',employee.id]">
                <mat-icon>edit</mat-icon>
              </button>
            <button mat-fab color="warn" (click)="delete(employee.id)">
                <mat-icon>delete_forever</mat-icon>
              </button>
              
        </div>
        

    </div>
    
</div>
